body {
    background-color: #d3d3d3;
}

#display {
    height: 50px;
}

#btn_apaga {
    width: 100px;
}

#calc-basica {
    max-width: 300px;
}

#calc-avancada {
    max-width: 600px;
}

#calc-financeira {
    max-width: 600px;
}

.nav .nav-link:hover {
    transform: scale(1.1);
}

.btn {
    border: 2px solid #000;
    border-radius: 6px;
    min-width: 50px;
}