body {
    background-color: #d3d3d3;
}

#display {
    height: 50px;
    min-width: 300px;
    max-width: 500px;
}

.btn-igual {
    width: 100px;
    margin-left: 0.5rem;
}

#calc-basica, #calc-avancada, #calc-financeira {
    max-width: 700px;
}

.nav .nav-link:hover {
    transform: scale(1.1);
}

.btn {
    border: 2px solid #000;
    border-radius: 6px;
    min-width: 50px;
}